.post {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0.5px 0.5px #808080;
  .post-meta {
    display: flex;
    margin: 15px;
    .post-meta-left{
      display: flex;
      .post-meta-left-avatar {
        width: 50px;
        & > img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
        :hover{
          cursor: pointer;
        }
      }
      .post-meta-left-username-timepost{
        .post-meta-left-username {    
          width: max-content;      
          & > p {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            font-weight: 500;
          }
          :hover{
            cursor: pointer;
          }
        
        }
      .post-meta-left-timepost {
        width: max-content;      
          & > p {
            font-family: 'Oswald', sans-serif;
            font-size: 15px;
            color: #808080;
          }
        }
      }
    }
    .post-meta-right{
      height: max-content;
      width: 100%;
        .post-meta-right-options {
          text-align: right;
        & > button {
          font-weight: bold;
          color: white;
          width: 50px;
          border: none;
          background-color: #0d47a1;
          font-size: 20px;
          border-radius: 10px;          
        }
        :hover {
          cursor: pointer;          
          background-color: white;
          color: black;
        }        
      }
    }
  }
    
    
  .post-desc {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    & > p {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
    }
  }

  .post-img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    & > img {
      width: 100%;
      border-radius: 10px;
      cursor: pointer;
    }
  }
    .post-interaction{
      border-top:#eaeaea solid 0.25px;
      display: flex;
      width: max-content;
      margin-left: 10px;
      .post-interaction-heart{
        margin: 10px;
        display: flex;
        & > p{
          margin-left: 2px;
          font-family: 'Oswald', sans-serif;
        }
        :hover{
          cursor: pointer;
        }
      }
      .post-interaction-comment{
        margin: 10px;
        display: flex;    
        & > p{
          margin-left: 2px;
          font-family: 'Oswald', sans-serif;
        }
        :hover{
          cursor: pointer;
        }    
      }
      .post-interaction-share{
        margin: 10px; 
        display: flex; 
        & > p{
          margin-left: 2px;
          font-family: 'Oswald', sans-serif;
        }
        :hover{
          cursor: pointer;
        }      
      }
    }  
  
  .post-comment-list {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    & > p {
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 18px;
    }
    .post-comment-bar {
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      .post-comment-bar-text {
        background-color: #eaeaea;
        display: flex;
        padding: 0 12px;
        border-radius: 30px;
        height: 40px;
        width: 90%;
        align-items: center;
        & > input {
          font-family: 'Roboto', sans-serif;
          flex: 2;
          border: none;
          font-size: 15px;
          background-color: #eaeaea;
        }
        & > input:focus {
          outline: none;
        }
      }
      .post-comment-bar-btn {
        margin-left: 10px;
        height: 40px;
        width: max-content;
        color: white;
        padding: 4px 10px;
        background-color: #0d47a1;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        gap: 8px;
        & > span {
          font-family: 'Oswald', sans-serif;
          font-size: 15px;
        }

        cursor: pointer;
      }
    }
  }
}
