.my_mess_content {
    display      : block;
    height       : auto;
    width        : 100%;
    right        : 10px;
    float        : right;
    min-width    : 300px;
    margin-bottom: 10px;

    ._avt {
        width        : 50px;
        height       : 50px;
        object-fit   : cover;
        border-radius: 50%;
        border       : none;
        margin-left  : 10px;
        float        : right;

    }

    .my_mess {
        min-width       : 100px;
        max-width       : 75%;
        height          : max-content;
        float           : right;
        background-color: #0d47a1;
        word-wrap       : break-word;
        display         : grid;
        border-radius   : 7px;
        padding         : 5px;

        .my_mess_detail {
            width      : 100%;
            float      : right;
            width      : fit-content;
            min-width  : 50px;
            color      : #ffffff;
            font-family: 'Quicksand', sans-serif;
            font-size  : 17px;
            max-width: 400px;
            padding: 0 5px;    

            &>p{
                width: 100%;
                word-wrap: break-word;
                text-align: justify;
                font-family: 'Quicksand', sans-serif;
                font-weight: 400;
            }
        }

        &>p {
            font-family: 'Quicksand', sans-serif;
            font-weight: 500;
            color: #ffffff;
            font-size: 14px;
        }
    }
}
@media all and(max-width: 800px) {
    .my_mess_content {
        .my_mess{
            .my_mess_detail {
                max-width: 250px;
            }
        }
    }
}
