.login_container {
  background-color: rgb(182, 147, 147);
  width           : 100vw;
  align-items     : center;
  min-height      : 100vh;
  padding-top     : 130px;

  .login_box {
    width                : 55%;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    min-width            : 200px;
    background-color     : #0d47a1;
    flex-direction       : column;
    height               : 500px;
    margin               : auto;
    border-radius        : 30px;

    .join_us {
      margin-top                : 50px;
      display                   : grid;
      width                     : 100%;
      border-top-left-radius    : 30px;
      border-bottom-left-radius : 30px;
      color                     : #ffffff;
      height                    : 70%;
      //@at-root                : 300px;

      p {
        text-align   : center;
        margin       : auto;
        margin-bottom: 20px;
        font-size    : 40px;
        font-weight  : bold;
        padding-top  : 10px;
      }

      .join_us_tag {
        margin       : auto;
        margin-bottom: 30px;
        display      : flex;
        padding      : 1px 5px;
        align-items  : center;
        gap          : 10px;
        height       : fit-content;
        color        : #ffffff;

        .join_us_icon {
          display        : flex;
          justify-content: center;
          align-items    : center;
          height         : 45px;
          width          : 45px;
          border-radius  : 20%;
          color          : #ffffff;
          cursor         : pointer;
          border         : 1px solid #ffffff;
        }
      }
    }

    .login_tag {
      width                     : 100%;
      margin                    : auto;
      display                   : grid;
      padding-top               : 60px;
      padding-bottom            : 50px;
      background-color          : #ffffff;
      height                    : 100%;
      border-bottom-right-radius: 30px;
      border-top-right-radius   : 30px;

      .logo {
        margin-top: 50px;
        width     : 80%;
        display   : flex;
        margin    : auto;

        &>img {
          width: 80px;
        }

        &>p {
          font-size  : 35px;
          font-weight: bold;
          margin     : auto;
          margin-left: 5px;
        }
      }

      .input {
        margin            : auto;
        margin-top        : 15px;
        margin-bottom     : 0;
        display           : flex;
        background-color  : #ececec;
        padding           : 1px 5px;
        border-radius     : 2rem;
        align-items       : center;
        //gap             : 10px;
        height            : fit-content;
        width             : 80%;

        .icon {
          display         : flex;
          justify-content : center;
          align-items     : center;
          height          : 45px;
          width           : 45px;
          background-color: #ffffff;
          border-radius   : 50%;
          color           : black;
          cursor          : pointer;
          margin-left     : -1%;
          padding         : 10px;
        }

        &>input {
          border                    : none;
          font-size                 : 15px;
          height                    : 45px;
          width                     : 100%;
          border-top-right-radius   : 2rem;
          border-bottom-right-radius: 2rem;
          padding                   : 10px;
          margin-right              : -1%;
          background-color          : #ececec;

          &:focus {
            outline: none;
          }
        }
      }

      .Remember_forget_pass {
        display        : flex;
        justify-content: space-between;
        margin         : auto;
        margin-top     : 30px;
        width          : 80%;

        .Remember_pass {
          display    : flex;
          align-items: center;

          &:hover {
            cursor: pointer;
          }

          p {
            margin-left: 2px;
            color      : #0d47a1;
          }
        }

        .forget_pass {
          text-align: right;

          &:hover {
            cursor: pointer;
          }

          &>a {
            text-decoration: none;
            color          : #0d47a1;
          }
        }
      }

      &>button {
        width           : 80%;
        margin          : auto;
        margin-top      : 30px;
        height          : 45px;
        border-radius   : 30px;
        background-color: #0d47a1;
        color           : #ffffff;
        font-size       : 15px;
        border          : none;

        &:hover {
          background-color: #0d47a1;
        }
      }

      &>a {
        margin-top     : 10px;
        text-align     : center;
        color          : black;
        text-decoration: none;

        &:hover {
          color: #0d47a1;
        }
      }
    }
  }
}

@media all and(max-width:1100px) {
  .login_container {
    width: 100%;

    .login_box {
      width: 70%;

      .login_tag {
        .input {
          width: 90%;
        }
      }
    }
  }
}

@media all and(max-width: 880px) {
  .login_container {
    width           : 100%;
    background-color: #ffffff;
    padding-top     : 10px;

    .login_box {
      display         : flex;
      background-color: #0d47a1;

      .join_us {
        display: none;
      }

      .login_tag {
        padding-top               : 30px;
        width                     : 100%;
        margin                    : auto;
        display                   : grid;
        border-top-right-radius   : 0;
        border-bottom-right-radius: 0;

        .logo {
          width        : 100%;
          //@at-root  : center;
          margin-bottom: 40px;

          &>img {
            //margin-left: 20px;
            width: 80px;
          }

          &>p {
            margin     : auto;
            margin-left: 10px;
          }
        }

        .input {
          width      : 100%;
          padding    : 0 10px 0 10px;
          display    : flex;
          align-items: center;

          .icon {
            height: 40px;
            width : 40px;
          }
        }

        .Remember_forget_pass {
          width: 100%;
        }

        &>button {
          width     : 100%;
          height    : 45px;
          margin-top: 30px;
        }
      }
    }
  }
}