.jobcontent {
  width      : 100%;
  height     : auto;
  font-family: "oswald";
  min-width  : 300px;
  display    : grid;
  margin-top : 70px;
  .job_header {
    width           : 70%;
    background-color: #ffff;
    margin          : auto;
    border-radius   : 12px;
    margin-bottom   : 30px;
    box-shadow      : 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;

    .cover {
      width                  : 100%;
      height                 : 420px;
      border-radius   : 10px;
      object-fit             : cover;
    }
    .title {
      width         : 90%;
      display       : flex;
      margin        : auto;

      &>span {
        margin        : auto;
        font-size     : 45px;
        color         : black;
        text-transform: uppercase;
        font-weight   : bold;
      }
    }
    .button-options{
      text-align: center;
      .job-button{
        border: none;
        width: 120px;
        height: 40px;
        background-color: #0d47a1;
        border-radius   : 12px;
        margin: 15px;
        color: white;
        font-size: 17px;
        font-family: "Oswald";
      }
      .job-button:hover{
        background-color: #1359c2;
        cursor: pointer;
      }
    }
  }

  .job_details {
    width           : 70%;
    background-color: #ffff;
    margin          : auto;
    border-radius   : 12px;
    padding         : 20px;
    font-family     : "oswald";
    margin-bottom   : 30px;
    box-shadow      : 0px 2px 10px rgba(0, 0, 0, 0.25);

    .details_header {
      font-size  : 27px;
      font-weight: bold;
      font-family: "oswald";
    }

    .details_people {
      display      : flex;
      align-items  : center;
      margin-top   : 10px;
      margin-bottom: 10px;

      .icon_job {
        width : 60px;
        height: 44px;
        color : #0d47a1;
      }

      &>span {
        font-size: 25px;
      }
    }

    .details {
      font-size  : 22px;
      font-family: "oswald";
      display    : grid;

      &>span {
        margin-top: 10px;

        &>a {
          color       : #0d47a1;
          padding-left: 10px;
        }
      }
    }
  }
}

@media all and(max-width:1100px) {
  .jobcontent {
    .job_header {
      .button_job {
        padding-left: 40%;
      }
    }
  }
}

@media all and(max-width: 800px) {
  .jobcontent {
    width: 100%;

    .job_header {
      width           : 100%;
      background-color: #ffff;
      margin          : auto;
      border-radius   : 17px;
      margin-bottom   : 30px;

      .cover {
        width                  : 100%;
        height                 : 300px;
        border-top-left-radius : 17px;
        border-top-right-radius: 17px;
      }
      .title {
        width: 90%;

        &>span {
          font-size: 23px;
        }
      }
    }

    .job_details {
      width           : 90%;
      background-color: #ffff;
      margin          : auto;
      border-radius   : 17px;
      margin-bottom   : 30px;

      .details_header {
        font-size: 20px;
      }

      .details_people {
        .icon_job {
          width : 40px;
          height: 30px;
          color : #0d47a1;
        }

        &>span {
          font-size: 20px;
        }
      }

      .details {
        font-size  : 17px;
        font-family: "oswald";
        display    : grid;

        &>span {
          margin-top: 0;
        }
      }
    }
  }
}