html, body {
  overflow-x: hidden;
  height: 100%;
  .home-maincontainer {
    display        : flex;
    margin-top     : 80px;
    padding        : 0 10px;
    justify-content: center;
    width          : 100%;
    .center {
      width: 40%;
      margin: 0 30px;
      &>p {
        font-size  : 18px;
        font-family: 'Quicksand', sans-serif;
        text-align : center;
        margin: 10px 0;
      }
    }
  }
  @media all and (max-width: 800px) {
    .home-maincontainer{
      .center{
        width: 100%;
      }
      .rightbar{
        display: none;
      }
      .leftbar{
        display: none;
      }
    }  
  }
  
}
