.home-maincontainer {
  display        : flex;
  margin-top     : 100px;
  width          : 100%;
  max-width      : 100%;
  padding        : 0 20px;
  justify-content: space-around;

  .center {
    margin       : auto;
    width        : 50%;
    // max-width: 600px;
    flex         : 1;
    padding-left : 30px;
    padding-right: 30px;
  }

  .rightbar {
    width    : 100%;
    flex     : 5;
    display  : none;
    max-width: 300px;
    position : fixed;
    right    : 0;
  }

  .leftbar {
    flex     : 5;
    width    : 100%;
    display  : none;
    max-width: 300px;
    position : fixed;
    left     : 0;
  }
}

@media all and (min-width: 1050px) {
  .home-maincontainer {
    .center {
      margin-right: 300px;
    }

    .rightbar {
      display: block;
    }

  }
}

@media all and (max-width: 700px) {
  .home-maincontainer {
    .center {
      padding: 0px;
    }
  }
}

@media all and (min-width: 1300px) {
  .home-maincontainer {
    .center {
      max-width: 50%;
      margin   : auto;
    }

    .leftbar {
      display: block;
      padding: 0 50px;
    }
  }
}