.new_conversation {
    width             : 500px;
    display           : grid;
    grid-template-rows: 30px 1fr;
    height            : 400px;
    background-color  : #ffff;
    border-radius     : 15px;
    position          : absolute;
    top               : 40%;
    left              : 50%;
    -webkit-transform : translate(-50%, -50%);
    transform         : translate(-50%, -50%);
    z-index           : 3;
    padding           : 10px;
    box-shadow        : 0px 1px 5px 0px #333e50;

    .exit {
        width  : 100%;
        height : 30px;
        display: block;

        &>span {
            color      : black;
            font-size  : 18px;
            font-family: "oswald";
        }

        &>button {
            float        : right;
            width        : 30px;
            height       : 30px;
            border-radius: 50%;
            text-align   : center;
            font-size    : 20px;
            border       : none;
            cursor       : pointer;
        }

        &>button:hover {
            background-color: #9c9595;
        }
    }

    .search_friend {
        display      : flex;
        width        : 100%;
        height       : 60px;
        border-bottom: 1px solid #0D47A1;
        align-items  : center;



        &>span {
            font-size   : 20px;
            font-weight : bold;
            margin-right: 10px;
            font-family : "oswald";
        }

        &>input {
            flex            : 1;
            height          : 40px;
            border-radius   : 20px;
            border          : none;
            background-color: #EAEAEA;
            color           : black;
            font-size       : 18px;
            padding-left    : 10px;
            font-family     : "oswald";
            padding-right   : 10px;
        }

        &>input:focus {
            outline: none;
        }
    }

    .search_friend_result {
        width       : 100%;
        //height    : 330px;
        overflow-y  : auto;

        .search_friend_result_tag {
            width           : 100%;
            height          : 60px;
            background-color: #EAEAEA;
            display         : flex;
            align-items     : center;
            padding-left    : 10px;
            margin-top      : 10px;
            border-radius   : 12px;
            cursor          : pointer;


            .avt_friend {
                width        : 50px;
                height       : 50px;
                border-radius: 50%;
                object-fit   : cover;
            }

            &>span {
                font-size     : 20px;
                margin-right  : 10px;
                font-family   : "oswald";
                flex          : 1;
                margin-left   : 10px;
                text-transform: capitalize;
            }

        }
    }
}