.Recommend_page {
  display         : flex;
  overflow-x      : scroll;
  background-color: #ffff;
  // border-radius   : 20px;
  padding         : 10px;
  font-family     : "oswald";
  box-shadow: 0px 1px 4px 0px #333e50;

  .Recommend_page_tag {
    height             : 230px;
    border-radius      : 10px;
    align-items        : center;
    text-align         : center;
    margin             : auto;
    margin-right       : 10px;
    // border          : 0.5px solid #b6babe;
    padding            : 10px 12px;
    background-color   : #eef0f5;

    p {
      font-size    : 20px;
      margin-top   : 5px;
      margin-bottom: 10px;
      font-weight  : bold;
    }

    .number_of_followers {
      font-size    : 13px;
      margin-top   : 5px;
      margin-bottom: 10px;
      margin-top   : -5px;
    }

    .cover_photo {
      width          : 160px;
      height         : 80px;
      //margin-top   : 10px;
      border-radius  : 10px;
    }

    .avatar {
      width           : 60px;
      height          : 60px;
      border-radius   : 50px;
      margin-top      : -40px;
      // border       : 1px solid #0D47A1
    }

    .recommend_page_button {
      width        : 100%;
      margin-bottom: 10px;

      .button_like_page {
        width              : 60px;
        height             : 25px;
        font-size          : 12px;
        border-radius      : 15px;
        background-color   : #0d47a1;
        color              : white;
        margin-right       : 10px;
        // font-weight     : bold;
        border             : none;
        font-family        : "oswald";
      }



      .button_dislike_page {
        width              : 60px;
        height             : 25px;
        font-size          : 12px;
        border-radius      : 15px;
        // font-weight     : bold;
        background-color   : #c4c4c4;
        border             : none;
        font-family        : "oswald";
      }

      :hover {
        color : red;
        cursor: pointer;
      }
    }
  }
}