.hero {
  position        : relative;
  background-color: transparent;
  width           : 100%;
  font-family     : "oswald";

  .coverpicture-container {
    height  : 200px;
    width   : 100%;
    position: relative;

    .coverpicture {
      width     : 100%;
      height    : 100%;
      object-fit: cover;
    }

    .camera-background {
      position        : absolute;
      bottom          : 0;
      right           : 0;
      position        : absolute;
      color           : #0d47a1;
      width           : 30px;
      height          : 30px;
      padding         : 3px;
      border-radius   : 50%;
      background-color: white;
      right           : 0;
      cursor          : pointer;
    }
  }

  .hero-profile {
    position : absolute;
    top      : 150px;
    left     : 50%;
    transform: translate(-50%, 0);

    .avatar-container {
      display : flex;
      position: relative;
      .avatar {
        height       : 120px;
        width        : 120px;
        border-radius: 50%;
        border       : 5px solid white;
        object-fit   : cover;
      }
      .camera {
        position        : absolute;
        color           : #0d47a1;
        width           : 30px;
        height          : 30px;
        padding         : 3px;
        border-radius   : 50%;
        background-color: white;
        bottom          : 20px;
        right           : 0;
        cursor          : pointer;
      }
    }

    .hero-name {
      text-align    : center;
      font-weight   : bold;
      font-size     : 20px;
      text-transform: capitalize;
      z-index       : 100;
      position      : absolute;
      left          : -70%;
      width         : 300px;
      margin-left   : -5px;
    }
  }

  .hero-content {
    margin-top           : 110px;
    padding              : 0 60px;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    align-content        : center;
    gap                  : 10px; // justify-items: center;
    &>div {
      color           : white;
      background-color: #0d47a1;
      text-align      : center;
      padding         : 6px 0;
      cursor          : pointer;

      &:last-child {
        grid-column: span 2;
      }
    }

    .message {
      width           : auto;
      color           : white;
      background-color: #0d47a1;
      text-align      : center;
      padding         : 6px 0;
      cursor          : pointer;
      padding         : 5px 20px;
      border-radius   : 20px;

      &:last-child {
        grid-column: span 2;
      }
    }
  }
}

@media all and (min-width: 800px) {
  .hero {
    .coverpicture-container {
      height: 350px;

      .coverpicture {}
    }

    .hero-profile {
      top: 300px;

      .avatar-container {
        .avatar {}

        .camera {}
      }

      .hero-name {}
    }

    .hero-content {
      width           : 100%;
      height          : 100px;
      margin-top      : 0;
      display         : flex;
      justify-content : flex-end;
      align-items     : center;
      padding-right   : 20px;
      background-color: white;
      box-shadow      : 0px 2px 10px rgba(0, 0, 0, 0.25);

      &>div {
        padding      : 5px 20px;
        border-radius: 20px;
      }
    }
  }
}