.mess {
    width             : 100%;
    height            : 100%;
    display           : grid;
    grid-template-rows: 70px 80% 70px;
    background-color  : #ffffff;

    .mess_cent_header {
        width           : 100%;
        height          : 70px;
        background-color: #ffffff;
        display         : flex;
        align-items     : center;
        border-bottom   : 1px solid #ead8d8;

        .mess_info {
            display     : flex;
            align-items : center;
            padding-left: 10px;
            flex        : 1;

            .mess_cent_avt {
                width        : 50px;
                height       : 50px;
                border-radius: 50%;
                object-fit   : cover;
            }

            &>span {
                padding-left: 10px;
                font-size   : 20px;
                font-weight : bold;
                font-family : "oswald";
            }
        }

        .mess_cent_search {
            color       : #0d47a1;
            font-size   : 25px;
            width       : 40px;
            height      : 50px;
            text-align  : center;
            align-items : center;
            cursor      : pointer;
            margin      : auto;
            text-align  : center;
            margin-right: 10px;
            padding-top : 13px;
        }

        .mess_cent_setting {
            width           : 50px;
            height          : 20px;
            background-color: #0d47a1;
            cursor          : pointer;
            margin-right    : 20px;
            border-radius   : 12px;
            color           : #ffffff;
            font-size       : 30px;
            display         : flex;
            text-align      : center;
            align-items     : center;
            padding-left    : 10px;
        }
    }

    .mess_content {
        height          : 100%;
        width           : auto;
        background-color: #ffffff;
        padding         : 10px;
        overflow-y      : auto;
        padding-bottom  : 30px;
        position        : relative;




    }

    .mess_fill {
        width      : 100%;
        height     : 70px;
        display    : flex;
        align-items: center;
        border-top : 1px solid #ead8d8;

        .fill {
            width           : 95%;
            height          : fit-content;
            display         : flex;
            align-items     : center;
            background-color: #eaeaea;
            padding-left    : 10px;
            padding-right   : 10px;
            border-radius   : 30px;
            margin          : auto;

            &>input {
                width           : 100%;
                height          : auto;
                min-height      : 50px;
                border          : none;
                background-color: #eaeaea;
                border-radius   : 30px;
                font-size       : 18px;
                padding-left    : 10px;
                font-family     : "oswald";
                color           : black;
            }

            .send_message {
                color    : #3399ff;
                font-size: 30px;
                cursor   : pointer;

                padding-top: 7px;
            }

            &>input:focus {
                outline: none;
            }
        }
    }
}