.message_container {
    width      : 100%;
    height     : 100vh;
    padding-top: 60px;

    .message_box_content {
        width  : 100%;
        height : 100%;
        display: flex;
        margin : auto;

        .mess_left {
            width             : 400px;
            height            : 100%;
            background-color  : #ffff;
            padding           : 10px;
            border-right      : 1px solid #ead8d8;
            display           : grid;
            grid-template-rows: 10% 90%;


            .mess_left_header {
                width        : 100%;
                display      : flex;
                height       : 60px;
                border-bottom: 1px solid #ead8d8;
                align-items  : center;

                .mess_left_search {
                    width           : 100%;
                    display         : flex;
                    height          : 40px;
                    align-items     : center;
                    flex            : 1;
                    color           : #0d47a1;
                    font-size       : 25px;
                    border-radius   : 20px;
                    padding-left    : 10px;
                    background-color: #EAEAEA;
                    padding-right   : 10px;

                    &>input {
                        font-family               : "oswald";
                        width                     : 100%;
                        height                    : 40px;
                        border-top-right-radius   : 20px;
                        border-bottom-right-radius: 20px;
                        font-size                 : 16px;
                        border                    : none;
                        background-color          : #EAEAEA;
                    }

                    &>input:focus {
                        outline: none;
                    }
                }

                .icon_mess_left {
                    width        : 30px;
                    height       : 30px;
                    font-size    : 25px;
                    color        : #0d47a1;
                    cursor       : pointer;
                    margin       : auto;
                    display      : flex;
                    text-align   : center;
                    align-items  : center;
                    border-radius: 50%;
                    margin-left  : 5px;

                }
            }

            .mess_tag {
                width     : 100%;
                height    : 100%;
                overflow-y: auto;

                &>::-webkit-scrollbar {
                    width: 1em;
                }

                &>::-webkit-scrollbar-thumb {
                    background-color: #0d47a1;
                }
            }
        }

        .mess_center {
            width : 100%;
            height: 100%;
        }

    }
}