.contacts {
  width           : 100%;
  height          : auto;
  border          : 1px solid white;
  border-radius   : 20px;
  align-items     : center;
  background-color: white;
  padding         : 10px;
  font-family     : "oswald";
  box-shadow      : 0px 1px 5px 0px #333e50;

  p {
    text-align   : center;
    margin-bottom: 10px;
    font-weight  : 600;
    font-size    : 18px;
  }

  .contacts_tag {
    background-color: #EEF0F5;
    width           : 100%;
    height          : 50px;
    border-radius   : 40px;
    margin          : auto;
    margin-bottom   : 5px;
    display         : flex;

    .contacts_tag_avt {
      width        : 42px;
      height       : 42px;
      border-radius: 50%;
      margin-left  : 5px;
      margin       : auto;
      object-fit   : cover;
    }

    span {
      text-align : center;
      font-size  : 17px;
      margin     : auto;
      font-weight: bold;
    }

    .notifications {
      width           : 22px;
      height          : 22px;
      background-color: red;
      border-radius   : 50%;
      margin          : auto;
      display         : flex;
      align-items     : center;
      justify-content : center;

      span {
        font-size          : 14px;
        color              : white;
        border-radius      : 5px;
        // font-weight     : bold;
      }
    }

    .signal {
      width           : 15px;
      height          : 15px;
      background-color: green;
      border-radius   : 8px;
      margin          : auto;
    }
  }

  .contacts_tag:hover {
    width : 265px;
    cursor: pointer;
  }
}