.friends_request_tag {
    background-color     : rgba(196, 196, 196, 0.47);
    width                : 100%;
    height               : 60px;
    border-radius        : 20px;
    display              : flex;
    grid-template-columns: 65px 200px;
    margin               : auto;
    margin-bottom        : 5px;
    align-items          : center;

    .avt_friend_request {
        width        : 50px;
        height       : 50px;
        border-radius: 50%;
        margin-left  : 10px;
        margin-right : 15px;
    }

    .friend_request_tag_info {
        height             : 50px;
        text-align         : center;
        // background-color: #0d47a1;

        span {
            text-transform: capitalize;
            font-size     : 17px;
            margin-top    : 1px;
            font-weight   : bold;
            text-align    : center;
            margin        : auto;
        }

        .friend_request_tag_button {

            margin-top: 5px;
            // margin: auto;

            .button_accept {
                width           : 80px;
                height          : 25px;
                border          : none;
                border-radius   : 10px;
                background-color: #0d47a1;
                color           : white;
                margin-right    : 10px;
                font-weight     : bold;
                font-size       : 13px;

                // &:hover {
                //     background-color: #3399FF;
                // }
            }

            .button_refuse {
                width           : 80px;
                height          : 25px;
                border          : none;
                border-radius   : 10px;
                background-color: #c4c4c4;
                font-weight     : bold;
                font-size       : 13px;
                margin-left     : 7px;

                // &:hover {
                //     background-color: #3399FF;
                // }
            }
        }
    }
}

// .friends_request_tag:hover {
//     width: 98%;
// }