.friends_request_tag {
    background-color: #e6e6e6;
    border-radius   : 10px;
    display         : flex;
    margin          : auto;
    align-items     : center;
    padding: 7px;

    &>a{
        width: 20%;
        .avt_friend_request {
            width           : 40px;
            height          : 40px;
            border-radius   : 50%;
            object-fit      : cover;
        }
    }

    .friend_request_tag_info {
        width: 80%;
        &>a{
            max-height: 20px;
            width: 100%;
            &>p{
                max-height: 20px;
                text-transform: capitalize;
                font-size     : 16px;
                font-weight   : 700;
                font-family: 'Quicksand', sans-serif;
                text-align    : center;
                text-transform: capitalize;
            }
        }

        .friend_request_tag_button {
            display: flex;
            .button_accept {
                font-weight     : 400;
                width           : 100px;
                height          : 25px;
                border          : none;
                border-radius   : 15px;
                background-color: #0d47a1;
                color           : white;
                margin-right    : 10px;
                font-size       : 15px;
                font-family: 'Quicksand', sans-serif;
                cursor          : pointer;
            }

            .button_refuse {
                font-weight     : 400;
                width           : 100px;
                height          : 25px;
                border          : none;
                border-radius   : 15px;
                background-color: #c4c4c4;
                font-size       : 15px;
                margin-right     : 10px;
                font-family: 'Quicksand', sans-serif;
                cursor          : pointer;
                padding: 0 3px;
            }

            .button_accept:hover {
                background-color: #1664d8;
            }
            .button_refuse:hover {
                background-color: #d1d0d0;
            }
        }
    }
}

.friends_request_tag:hover {
    width: 100%;
}