.friendprofile {
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  .friendprofile-container {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    .friendprofile-item {
      &:hover {
        cursor: pointer;
      }
      & > img {
        height: 80%;
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
      }
      & > p {
        text-transform: capitalize;
      }
    }
  }
}

@media all and (min-width: 600px) {
  .friendprofile {
    width: 80%;

    .friendprofile-container {
      .friendprofile-item {
        &:hover {
        }
        & > img {
        }
        & > p {
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .friendprofile {
    width: 450px;

    .friendprofile-container {
      .friendprofile-item {
        &:hover {
        }
        & > img {
        }
        & > p {
        }
      }
    }
  }
}
