.signup_container {
  background-color: #c2cad0;
  min-width: 100vw;
  align-items: center;
  min-height: 100vh;
  padding-top: 70px;

  .signup_box {
    width                : 60%;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    background-color     : #ffffff;
    flex-direction       : column;
    margin               : auto;
    border-radius        : 10px;
    position             : fixed;
    top                  : 50%;
    left                 : 50%;
    -webkit-transform    : translate(-50%, -50%);
    transform            : translate(-50%, -50%);

    .signup_tag {
      width                    : 100%;
      height                   : 100%;
      margin                   : auto;
      background-color         : #0d47a1;
      border-top-left-radius   : 10px;
      border-bottom-left-radius: 10px;
      padding                  : 20px 40px;

      .logo {
        display: flex;

        &>img {
          width: 50px;
          display: none;
        }

        &>p {
          text-align: center;
        margin: 0 auto;
        font-size: 25px;
        font-weight: 600;
        font-family: 'Quicksand', sans-serif;
        padding: 20px 0;
        color: #ffffff;
        }
      }

      .input {
        width           : 100%;
        margin-bottom   : 25px;
        display         : flex;
        background-color: #ececec;
        padding         : 1px 5px;
        border-radius   : 2rem;
        align-items     : center;
        gap             : 10px;
        height          : fit-content;

        .icon {
          display         : flex;
          justify-content : center;
          align-items     : center;
          height          : 40px;
          width           : 40px;
          background-color: #ffffff;
          border-radius   : 50%;
          color           : black;
          cursor          : pointer;
        }

        &>input {
          flex                      : 1;
          border                    : none;
          font-size                 : 15px;
          background-color          : transparent;
          width                     : 90%;
          height                    : 40px;
          border-top-right-radius   : 2rem;
          border-bottom-right-radius: 2rem;
          padding                   : 10px;
          margin-right              : -1%;
          font-family: 'Quicksand', sans-serif;
        }

        &>input:focus {
          outline: none;
        }
      }

      .gender_dateOfbirth {
        display: flex;

        .input_gender {
          width           : 90%;
          margin-bottom   : 25px;
          margin-right    : 10px;
          display         : flex;
          background-color: #ececec;
          padding         : 1px 5px;
          border-radius   : 2rem;
          align-items     : center;
          gap             : 10px;
          height          : fit-content;
          border          : none;

          .icon {
            display         : flex;
            justify-content : center;
            align-items     : center;
            height          : 40px;
            width           : 40px;
            background-color: #ffffff;
            border-radius   : 50%;
            color           : black;
            cursor          : pointer;
          }

          &:hover {
            cursor: pointer;
          }

          &>select {
            border          : none;
            flex            : 1;
            font-size       : 15px;
            background-color: transparent;
            height          : 40px;
            text-align      : center;
            font-family: 'Quicksand', sans-serif;


            &:focus {
              outline: none;
            }
          }
        }

        .input_dateOfbirth {
          width           : 90%;
          margin-bottom   : 25px;
          margin-left     : 10px;
          display         : flex;
          background-color: #ececec;
          padding         : 1px 5px;
          border-radius   : 2rem;
          align-items     : center;
          gap             : 10px;
          height          : fit-content;

          .icon {
            display         : flex;
            justify-content : center;
            align-items     : center;
            height          : 40px;
            width           : 40px;
            background-color: #ffffff;
            border-radius   : 50%;
            color           : black;
            cursor          : pointer;
          }

          &>input {
            flex            : 1;
            border          : none;
            font-size       : 15px;
            background-color: transparent;
            height          : 40px;
            text-align      : center;
            font-family: 'Quicksand', sans-serif;
          }

          &>input:focus {
            outline: none;
          }
        }
      }

      &>button {
        width           : 100%;
        height          : 45px;
        border-radius   : 30px;
        margin-bottom: 20px;
        background-color: #ffffff;
        color           : #0d47a1;
        font-size       : 15px;
        border          : none;
        cursor          : pointer;
        font-weight: 600;
        font-family: 'Quicksand', sans-serif;
        &:hover {
          background-color: #cecece;
        }
      }

      &>a {
        color          : #ffffff;
        text-align     : center;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        &>p{
          &>b{
            &:hover{
              color: black;
            }
          }
        }
        
      }
    }

    .join_us {
      padding: 20px 0;
      display: grid;
      width: 100%;
      height: 70%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      color: #ffffff;
      //@at-root                : 300px;

      p {
        text-align: center;
        margin: 0 auto;
        font-size: 25px;
        font-weight: 600;
        font-family: 'Quicksand', sans-serif;
        padding: 20px 0;
        color: #0d47a1;
      }

      .join_us_tag {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;  

        .join_us_icon {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          width: 45px;
          border-radius: 20%;
          color: #ffffff;
          background-color: #0d47a1;
        }
        &>div{
          &>h3{
            font-size: 16px;
            font-family: 'Quicksand', sans-serif;
          }
        }
      }
    }
  }
}

@media all and(max-width: 800px) {
  .signup_container {
    width           : 540px;
    background-color: #ffffff;
    padding-top     : 0px;

    .signup_box {
      background-color : #ffffff;
      display          : flex;
      width            : 75%;
      position         : fixed;
      top              : 50%;
      left             : 50%;
      -webkit-transform: translate(-50%, -50%);
      transform        : translate(-50%, -50%);
      min-width        : 100px;

      .join_us {
        display: none;
      }

      .signup_tag {
        padding-top              : 30px;
        width                    : 100%;
        margin                   : auto;
        display                  : grid;
        border-top-left-radius   : 0;
        border-bottom-left-radius: 0;
        padding                  : 0px;
        background-color         : #ffffff;

        .logo {
          align-items: center;

          &>img {
            margin-left: 20px;
            width      : 80px;
          }

          &>p {
            margin     : auto;
            color: #0d47a1;
            text-align: center;
          }
        }
        &>button {
          height          : 45px;
          margin-top      : 20px;
          background-color: #0d47a1;
          color           : #ffffff;
          &:hover{
            background-color:#145bc5
          }
        }

        &>a {
          color     : #0d47a1;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}