 .info {
     width           : 100%;
     height          : auto;
     border          : 1px solid white;
     background-color: #ffffff;
     display         : grid;
     border-radius   : 20px;
     font-family     : "oswald";

     &>p {
         font-size    : 25px;
         font-weight  : bold;
         margin-top   : 20px;
         margin-bottom: 10px;
         margin-left  : 20px;
     }

     .info_tag {
         width      : 90%;
         display    : flex;
         margin     : auto;
         height     : 40px;
         font-size  : 18px;
         align-items: center;

         &>p {
             margin-left: 10px;
             font-weight: bold;
         }

         &>span {
             padding-left  : 10px;
             text-transform: capitalize;
         }
     }

     &>button {
         width               : 50%;
         height              : 37px;
         margin              : auto;
         margin-top          : 20px;
         margin-bottom       : 20px;
         font-size           : 18px;
         background-color    : #0D47A1;
         color               : white;
         font-family         : "oswald";
         //  font-weight     : bold;
     }

 }