.fileupload {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.4);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
  .fileupload-container {
    padding: 10px 10px;
    background-color: white;
    width: 80%;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    border-radius: 20px;
    & > h1 {
      font-family: 'Oswald', sans-serif;
      margin: auto;
      font-size: 20px;
      font-weight: bold;
    }
    & > img{
      object-fit: cover;
    }
    .exit {
      background-color: white;
      position: absolute;
      font-weight: 700;
      font-size: 20px;
      right: 10px;
      top: 10px;
      height: 30px;
      width: 30px;
      display: flex;
      text-align: center;
      border: none;
      cursor: pointer;
      &:hover {
        color: red;
        background-color: white;
      }
    }
    & > input{
      font-family: "Quicksand", sans-serif;
        width: max-content;
        margin: auto;
    }
    .photo-preview {
      margin: auto;
      flex-grow: 1;
      height: 50%;
      width: 90%;
      object-fit: cover;
    }
    .uploadBtn {
      cursor: pointer;
      width: 80px;
      height: 30px;
      margin: auto;
      border: 1px solid black;      
    }
    .uploadBtn:hover{
      background-color: #c0c0c0;
    }

  }
}
