 .event_tag {
     box-shadow      : 0px 2px 10px rgba(0, 0, 0, 0.25);
     width           : 100%;
     height          : 533px;
     background-color: #ffff;
     border-radius   : 20px;
     box-shadow      : 0px 2px 10px 0px #00000040;
     padding-bottom  : 15px;
     margin-bottom   : 40px;

     .cover {
         width                  : 100%;
         height                 : 330px;
         border-top-left-radius : 20px;
         border-top-right-radius: 20px;
         object-fit             : cover;
     }

     .time {
         font-size     : 22px;
         padding-left  : 10px;
         padding-bottom: 10px;
         padding-top   : 10px;
     }

     .title {
         font-size     : 30px;
         padding-left  : 10px;
         text-transform: uppercase;
         font-weight   : bold;
         padding-bottom: 20px;
         cursor        : pointer;
     }

     .button {
         width  : 60%;
         height : 50px;
         display: flex;
         margin : auto;

         .button_join {
             flex       : 1;
             cursor     : pointer;
             font-family: "oswald";


             &>button {
                 width           : 80%;
                 min-width       : fit-content;
                 padding-right   : 10px;
                 height          : 50px;
                 border-radius   : 15px;
                 background-color: #c4c4c4;
                 margin          : auto;
                 display         : flex;
                 cursor          : pointer;
                 border          : none;

                 .join {
                     margin     : auto;
                     display    : flex;
                     align-items: center;
                     width      : auto;

                     .icon_join {
                         color      : #0d47a1;
                         width      : 43px;
                         height     : 40px;
                         align-items: center;
                     }

                     &>span {
                         font-size  : 25px;
                         font-family: "oswald";
                         font-weight: bold;
                         text-align : center;
                     }
                 }
             }
         }

         .button_delete {
             width           : fit-content;
             height          : 50px;
             border-radius   : 12px;
             border          : none;
             background-color: #0d47a1;
             color           : #ffff;
             font-size       : 25px;
             padding-left    : 10px;
             padding-right   : 10px;
             font-weight     : bold;
             cursor          : pointer;
             font-family     : "oswald";
         }
     }

 }

 @media all and(max-width:1050px) {
     .event_tag {
         height: auto;
     }
 }