 .event_tag {
     width           : 100%;
     background-color: #ffff;
     border-radius   : 10px;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     margin-bottom   : 20px;
     padding: 7px;

     .cover {
        object-fit: cover;
        height: 250px;
        width: 100%;
        border-radius: 10px;
     }

     .time {
         font-size     : 18px;
         text-align: center;
         padding: 5px 0;
     }

     .title {
         font-size     : 25px;
         text-transform: uppercase;
         font-weight   : 600;
         cursor        : pointer;
         text-align    : center;
         padding-bottom: 5px;
     }
     .button {
        width  : 60%;
        height : 50px;
        display: flex;
        margin : auto;
        padding: 20px;
        display: none;
         .button_join {
            display: none;
            flex       : 1;
            cursor     : pointer;
            font-family: 'Quicksand', sans-serif;


             &>button {
                 width           : 80%;
                 min-width       : fit-content;
                 padding-right   : 10px;
                 height          : 50px;
                 border-radius   : 15px;
                 background-color: #c4c4c4;
                 margin          : auto;
                 display         : flex;
                 cursor          : pointer;
                 border          : none;

                 .join {
                     margin     : auto;
                     display    : flex;
                     align-items: center;
                     width      : auto;

                     .icon_join {
                         color      : #0d47a1;
                         width      : 43px;
                         height     : 40px;
                         align-items: center;
                     }

                     &>span {
                         font-size  : 25px;
                         font-family: 'Quicksand', sans-serif;
                         font-weight: bold;
                         text-align : center;
                     }
                 }
             }
         }

         .button_delete {
             width           : fit-content;
             height          : 50px;
             border-radius   : 12px;
             border          : none;
             background-color: #0d47a1;
             color           : #ffff;
             font-size       : 25px;
             padding-left    : 10px;
             padding-right   : 10px;
             font-weight     : bold;
             cursor          : pointer;
             font-family     : "oswald";
         }
     }

 }

 @media all and(max-width:1050px) {
     .event_tag {
         height: auto;
     }
 }