.friend {
    width      : 100%;
    height     : auto;
    display    : flex;
    margin-top : 100px;
    font-family: "oswald";

    .Filters {
        display: none;
        width           : 20%;
        height          : 400px;
        background-color: #ffffff;
        margin-top      : 10px;
        border-radius   : 10px;
        margin-left     : 10px;
        min-width       : 200px;
        position        : fixed;

        &>p {
            width         : 90%;
            margin-left   : 10px;
            font-size     : 20px;
            font-weight   : bold;
            margin-top    : 10px;
            margin-bottom : 10px;
            border-bottom : 1px solid black;
            padding-bottom: 10px;
        }

        &>span {
            margin-left: 10px;
            font-size  : 18px;
            font-weight: bold;

        }

        .items {
            width           : 95%;
            height          : 45px;
            border-radius   : 10px;
            margin          : auto;
            margin-bottom   : 20px;
            display         : flex;
            align-items     : center;
            background-color: #EEF0F5;

            &>span {
                width       : 90%;
                font-size   : 17px;
                height      : 45px;
                font-weight : bold;
                padding-left: 10px;
                padding-top : 11px;
            }
        }

        .items:hover {
            background-color: #0d47a1;
            color           : #ffffff;
        }

    }

    .friend_content {
        width     : 100%;
        height    : auto;
        margin-top: 60px;


        .f_request {
            width              : 40%;
            margin             : auto;
            margin-bottom      : 10px;
            // border-bottom   : 1px solid black;
            margin-left        : 30%;
            min-width          : 500px;
            background-color   : #ffffff;
            height             : auto;
            padding            : 20px;
            border-radius      : 20px;

            &>p {
                font-size    : 19px;
                font-weight  : bold;
                margin-bottom: 10px;
            }

            &>button {
                width           : 100%;
                height          : 40px;
                border          : none;
                border-radius   : 5px;
                font-size       : 15px;
                font-family     : "oswald";
                font-weight     : bold;
                background-color: #EEF0F5;

                cursor: pointer;

                &:hover {
                    background-color: #0d47a1;
                    color           : #ffffff;

                }
            }
        }
    }
}

@media all and(max-width: 700px) {
    .friend {
        width     : 100%;
        display   : grid;
        margin-top: 50px;

        .Filters {
            display      : flex;
            width        : 100%;
            margin-top   : 5px;
            height       : auto;
            margin-left  : 0;
            border-radius: 0;
            position     : static;
            margin-bottom: 5px;

            &>p {
                display: none;
            }

            &>span {
                display: none;
            }

            .items {
                width        : 100%;
                border-radius: 0;
                text-align   : center;
                height       : 100%;
                margin-bottom: 5px;

                span {
                    width          : 100%;
                    margin         : auto;
                    margin-left    : 0;
                    padding-left   : 0;
                    // padding-top : 0;
                }
            }
        }

        .friend_content {
            width      : 100%;
            height     : auto;
            height     : auto;
            margin-top : 0;
            margin-left: 0;
            min-width  : 0;
            margin     : auto;



            .f_request {
                width        : 100%;
                border-radius: 0;
                margin-left  : 0;
                padding      : 10px;
                padding-left : 25px;
                padding-right: 25px;


                &>button {
                    display: none;
                }
            }

        }

    }
}