.Search-Results {
    padding-top: 100px;
    width      : 100%;
    height     : auto;
    display    : flex;
    font-family: "oswald";




    .Filters {
        width           : 20%;
        height          : 500px;
        background-color: #ffffff;
        margin-top      : 10px;
        border-radius   : 10px;
        min-width       : 200px;
        position        : fixed;

        &>p {
            width         : 90%;
            margin-left   : 10px;
            font-size     : 20px;
            font-weight   : bold;
            margin-top    : 10px;
            margin-bottom : 10px;
            border-bottom : 1px solid black;
            padding-bottom: 10px;
        }

        &>span {
            margin-left: 10px;
            font-size  : 18px;
            font-weight: bold;
        }

        .items {
            width           : 95%;
            height          : 45px;
            border-radius   : 10px;
            margin          : auto;
            margin-bottom   : 5px;
            display         : flex;
            align-items     : center;
            background-color: #EEF0F5;
            margin-bottom   : 20px;
            cursor          : pointer;

            .icon {
                display         : flex;
                justify-content : center;
                align-items     : center;
                height          : 40px;
                width           : 40px;
                font-size       : 20px;
                border-radius   : 50%;
                margin          : auto;
                background-color: lightgray;
                margin-left     : 10px;
                padding         : 10px;
                color           : black;
            }

            &>span {
                width       : 90%;
                font-size   : 17px;
                height      : 45px;
                font-weight : bold;
                padding-left: 10px;
                padding-top : 11px;
            }
        }

        .items:hover {
            background-color: #0d47a1;
            color           : #ffffff;
        }

    }

    .Results {
        width     : 100%;
        height    : auto;
        margin-top: 60px;


        .Peoples {
            width           : 50%;
            margin          : auto;
            margin-bottom   : 10px;
            background-color: #ffffff;
            border-radius   : 10px;
            padding         : 15px;
            min-width       : 500px;
            margin-left     : 30%;

            &>p {
                font-size    : 19px;
                font-weight  : bold;
                margin-bottom: 10px;
                font-family  : "oswald";
            }

            .People_tag {
                width                : 100%;
                display              : grid;
                grid-template-columns: 90% 10%;
                margin-top           : 15px;
                border-radius        : 15px;
                background           : #EEF0F5;
                padding              : 10px;
                margin-bottom        : 25px;

                .img-info {
                    display: flex;


                    .avt {
                        width        : 60px;
                        height       : 60px;
                        border-radius: 50%;
                        object-fit   : cover;
                    }

                    .people_info {
                        width      : 90%;
                        margin-left: 10px;
                        display    : grid;

                        .link {
                            &>p {
                                text-transform: capitalize;
                                font-size     : 17px;
                                font-weight   : bold;
                                font-family   : "oswald";
                            }
                        }


                        &>span {
                            font-size     : 15px;
                            text-transform: capitalize;
                            font-family   : "oswald";
                        }
                    }
                }

                .icon {
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    height          : 40px;
                    width           : 40px;
                    font-size       : 30px;
                    border-radius   : 50%;
                    background-color: rgba(120, 206, 209, 0.966);
                    margin-left     : 70%;
                    margin          : auto;
                    padding         : 8px;
                    border          : none;
                    margin-top      : 10px;
                    cursor          : pointer;

                    &:hover {
                        background-color: rgb(14, 238, 238);
                    }
                }

                .icon2 {
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    height          : 40px;
                    width           : 40px;
                    font-size       : 30px;
                    border-radius   : 50%;
                    background-color: #0d47a1 !important;
                    margin-left     : 70%;
                    margin          : auto;
                    padding         : 8px;
                    border          : none;
                    margin-top      : 10px;
                    cursor          : pointer;

                }

            }

            &>button {
                width        : 100%;
                color        : black;
                font-family  : "oswald";
                height       : 40px;
                border       : none;
                border-radius: 5px;
                background   : #EEF0F5;
                font-size    : 18px;
                cursor       : pointer;
                font-family  : "oswald";



                &:hover {
                    background-color: #0d47a1;
                    color           : #ffffff;

                }
            }

        }

        .Post {
            width           : 50%;
            margin          : auto;
            margin-bottom   : 10px;
            background-color: #ffffff;
            border-radius   : 10px;
            padding         : 15px;
            margin-left     : 30%;
            min-width       : 500px;

            &>p {
                font-size    : 19px;
                font-weight  : bold;
                margin-bottom: 10px;
            }

            &>button {
                width           : 100%;
                background-color: #0d47a1;
                height          : 40px;
                border          : none;
                border-radius   : 5px;
                color           : #ffffff;
                font-size       : 15px;
                cursor          : pointer;
                font-family     : "oswald";

                &:hover {
                    background-color: #3399ff;

                }
            }
        }

        .Page {
            width           : 50%;
            margin          : auto;
            margin-bottom   : 10px;
            background-color: #ffffff;
            border-radius   : 10px;
            padding         : 15px;
            margin-left     : 30%;
            min-width       : 500px;

            &>p {
                font-size    : 19px;
                font-weight  : bold;
                margin-bottom: 10px;
            }

            &>button {
                width           : 100%;
                background-color: #0d47a1;
                height          : 40px;
                border          : none;
                border-radius   : 5px;
                color           : #ffffff;
                font-size       : 15px;
                cursor          : pointer;
                font-family     : "oswald";

                &:hover {
                    background-color: #3399ff;

                }
            }
        }

        .Event {
            width           : 50%;
            margin          : auto;
            margin-bottom   : 10px;
            background-color: #ffffff;
            border-radius   : 10px;
            padding         : 15px;
            margin-left     : 30%;
            min-width       : 500px;

            &>p {
                font-size    : 19px;
                font-weight  : bold;
                margin-bottom: 10px;
            }

            &>button {
                width           : 100%;
                background-color: #0d47a1;
                height          : 40px;
                border          : none;
                border-radius   : 5px;
                color           : #ffffff;
                font-size       : 15px;
                cursor          : pointer;
                font-family     : "oswald";

                &:hover {
                    background-color: #3399ff;

                }
            }
        }
    }
}

@media all and(max-width: 700px) {
    .Search-Results {
        width      : 100%;
        display    : grid;
        padding-top: 50px;

        .Filters {
            display      : flex;
            width        : 100%;
            margin-top   : 5px;
            height       : auto;
            margin-left  : 0;
            border-radius: 0;
            position     : static;
            margin-bottom: 5px;

            &>p {
                display: none;
            }

            &>span {
                display: none;
            }

            .items {
                width           : 100%;
                border-radius   : 0;
                text-align      : center;
                height          : 100%;
                margin-bottom   : 5px;
                background-color: #ffffff;

                span {
                    width          : 100%;
                    margin         : auto;
                    margin-left    : 0;
                    padding-left   : 0;
                    // padding-top : 0;
                }

                .icon {
                    display: none;
                }
            }
        }

        .Results {
            width      : 100%;
            height     : auto;
            height     : auto;
            margin-top : 0;
            margin-left: 0;
            min-width  : 0;
            margin     : auto;


            .Peoples {
                width           : 100%;
                border-radius   : 0;
                margin-left     : 0;
                padding         : 20px;
                background-color: #E5E5E5;
                padding-left    : 30px;
                padding-right   : 30px;

                &>button {
                    display: none;
                }

                .People_tag {
                    height    : 70px;
                    box-shadow: 5px 5px 5px lightblue;

                    .img-info {
                        display: flex;

                        .avt {
                            width        : 50px;
                            height       : 50px;
                            border-radius: 50%;
                        }

                        .people_info {
                            width      : 90%;
                            margin-left: 10px;
                            display    : grid;

                            &>p {
                                text-transform: capitalize;
                                font-size     : 17px;
                                font-weight   : bold;
                            }

                            &>span {
                                font-size     : 11px;
                                text-transform: capitalize;

                            }
                        }
                    }


                }

            }

            .Post {
                width           : 100%;
                border-radius   : 0;
                margin-left     : 0;
                padding         : 20px;
                background-color: #E5E5E5;
                padding-left    : 30px;
                padding-right   : 30px;

                &>button {
                    display: none;
                }
            }

            .Page {
                width           : 100%;
                border-radius   : 0;
                margin-left     : 0;
                padding         : 20px;
                background-color: #E5E5E5;
                padding-left    : 30px;
                padding-right   : 30px;

                &>button {
                    display: none;
                }
            }

            .Event {
                width           : 100%;
                border-radius   : 0;
                margin-left     : 0;
                padding         : 20px;
                background-color: #E5E5E5;
                padding-left    : 30px;
                padding-right   : 30px;

                &>button {
                    display: none;
                }
            }
        }

    }
}