.document_container {
    width      : 100%;
    height     : 100%;
    display    : flex;
    padding-top: 80px;
    position   : relative;
    .document_left {
        width           : 250px;
        background-color: #ffffff;
        margin-left     : 50px;
        margin-right    : 50px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        border-radius   : 10px;
        padding         : 10px;
        height          : max-content;
        min-width       : 200px;

        &>span {
            font-size  : 20px;
            font-weight: bold;
            color      : black;
            font-family: 'Quicksand', sans-serif;
        }

        .document_tag {
            width           : 100%;
            height          : 40px;
            border-radius   : 7px;
            background-color: #EEF0F5;
            margin-top      : 10px;
            align-items     : center;
            display         : flex;
            padding-left    : 10px;
            font-size       : 18px;
            color           : black;
            font-family: 'Quicksand', sans-serif;
            cursor          : pointer;
        }
    }

    .document_right {
        width             : 70%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        border-radius     : 10px;
        background-color  : #ffffff;
        //margin-right    : 50px;


        .document_right_header {
            width                  : 100%;
            display                : flex;
            height                 : 60px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            padding                : 10px;
            align-items            : center;
            border-top-left-radius : 10px;
            border-top-right-radius: 10px;

            .document_right_header_search {
                display    : flex;
                height     : 40px;
                flex       : 1;
                align-items: center;

                .search {
                    display         : flex;
                    width           : 300px;
                    background-color: #EEF0F5;
                    height          : 40px;
                    align-items     : center;
                    font-size       : 22px;
                    border-radius   : 30px;
                    padding-left    : 5px;
                    color           : #0D47A1;

                    &>input {
                        flex                      : 1;
                        height                    : 40px;
                        background-color          : #EEF0F5;
                        border                    : none;
                        border-top-right-radius   : 12px;
                        border-bottom-right-radius: 12px;
                        font-size                 : 18px;
                        font-family: 'Quicksand', sans-serif;
                        padding-left              : 5px;
                        padding-right             : 5px;
                    }

                    &>input:focus {
                        outline: none;
                    }
                }

                .document_filter {
                    width           : 40px;
                    height          : 40px;
                    border-radius   : 10px;
                    background-color: #EEF0F5;
                    align-items     : center;
                    font-size       : 25px;
                    color           : #0D47A1;
                    padding-top     : 4px;
                    text-align      : center;
                    margin-left     : 10px;
                    cursor          : pointer;
                    display         : none;
                }
            }



            .button_create {
                width           : 120px;
                height          : 40px;
                border-radius   : 10px;
                border          : none;
                cursor          : pointer;
                font-size       : 18px;
                font-family: 'Quicksand', sans-serif;
                color           : #ffffff;
                background-color: #0D47A1;
                font-weight: 500;
            }

            &>button:focus {
                outline: none;
            }


        }

        .document_right_body {
            text-align: center;
            width      : 100%;
            height     : max-content;
            display    : flex;
            flex-wrap  : wrap;
            padding    : 15px;
            padding-top: 30px;
            padding-bottom: 30px;
            margin     : auto;
            overflow-y : auto;
            .doc_tag {
                width        : 200px;
                height       : 280px;
                border-radius: 10px;
                margin: 10px;
                box-shadow   : 0px 1px 5px 0px #333e50;
                &>a{
                    .document_tag_cover {
                        width                  : 100%;
                        height: 180px;
                        border-radius   : 10px;
                        object-fit             : cover;
                        padding: 7px;
                    }
    
                    &>p {
                        font-size     : 16px;
                        font-family: 'Quicksand', sans-serif;
                        text-transform: uppercase;
                        font-weight   : 600;
                        cursor        : pointer;
                    }
                }

                .author {
                    width      : fit-content;
                    margin     : auto;
                    align-items: center;
                    display    : flex;
                    text-align : center;

                    &>b {
                        width      : fit-content;
                        font-size  : 16px;
                        font-family: 'Quicksand', sans-serif;
                        font-weight: 600;
                    }

                    &>span {
                        font-size     : 16px;
                        font-family: 'Quicksand', sans-serif;
                        text-transform: capitalize;                        
                        padding-left  : 5px;
                    }
                }

            }
        }
    }

}

@media all and(max-width:800px) {
    .document_container {
        width      : 100%;
        height     : 100%;
        padding-top: 60px;
        position   : relative;

        .document_left {
            display: none;
        }

        .document_right {
            margin          : auto;
            width           : 100%;
            height          : max-content;
            box-shadow      : none;
            background-color: #eef0f5;

            .document_right_header {
                background-color: #ffffff;
                border-radius   : 0px;
                position        : fixed;

                .document_right_header_search {
                    .search {
                        width: 200px;
                    }

                    .document_filter {
                        display: flex;

                        .icon_filter {
                            margin: auto;
                        }
                    }
                }
            }

            .document_right_body {
                width      : 100%;
                height     : max-content;
                display    : grid;
                padding    : 0;
                padding-top: 100px;
                margin     : auto;

                .doc_tag {
                    width        : 90%;
                    height     : max-content;
                    border-radius: 10px;
                    margin       : auto;
                    margin-bottom: 25px;
                    box-shadow   : 0px 1px 5px 0px #333e50;

                    .document_tag_cover {
                        height: 500px;
                    }
                    .author {
                        width : fit-content;
                        margin: auto;
                        padding-bottom: 5px;
            
                    }
                }
            }

        }
    }
}