.options {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  min-width: 230px;
  font-family: 'Quicksand', sans-serif;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  .options-container {
    width: 100%;
    .tag {
      padding: 15px 40px;
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      .tag-icon {
        color: #0d47a1;
        font-size: 20px;
      }
      & > span {
        font-weight: bold;
      }
      &:hover {
        color: #1562d4;
      }
    }
    hr {
      height: 0;
      width: 80%;
      margin: auto;
      border: px solid #0d47a1;
    }
  }
}
