.options {
  width: 100%;
  background-color: white;
  border-radius: 6px;
  min-width: 250px;

  .options-container {
    width: 100%;
    padding-bottom: 5px;
    .tag {
      padding: 15px 20px 5px 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      .tag-icon {
        color: rgba(0, 0, 0, 0.6);
        font-size: 25px;
      }
      &:hover {
        border-left: 2px solid #0d47a1;
      }
      & > span {
        font-weight: bold;
      }
    }
    hr {
      width: 80%;
      margin: auto;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}
