.share {
  width: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  padding: 0 12px;
  border-radius: 30px;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;

  .share-left {
    display: flex;
    flex: 1;
    gap: 10px;
    .avartar {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      object-fit: cover;
    }

<<<<<<< HEAD
    .share-left-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > input {
        width: 100%;
        border: none;
        font-size: 18px;
        outline: none;
      }
=======
    & > input {
      width: 100%;
      border: none;
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
>>>>>>> 3d2ffa348fb008fb8b59c01ed6189e394b54287a
    }

    & > input:focus {
      outline: none;
    }
    .preview-container {
      width: 100%;
      .preview-img {
        width: 100%;
      }
    }
  }

  .share-right {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    .share-btn {
      color: white;
      padding: 4px 10px;
      background-color: #0d47a1;
      border-radius: 5rem;
      display: flex;
      align-items: center;
      gap: 8px;
      & > span {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      }
      
      cursor: pointer;
    }  

    .share-img {
      color: #0d47a1;
      font-size: 24px;
      cursor: pointer;
    }
    :hover{
      color: red;
    }
  }
}
