.share{
  width: 100%;
  max-width: 100%;
  border-radius: 30px;
  padding: 10px 10px;
  .share-top {
    background-color: white;
    border-radius: 30px;
    padding: 10px 10px;     
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .share-left {
      display: flex;
      flex: 1;
      gap: 10px;
      & > img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
      .share-left-content {
        width: 100%;
        display: flex;
        gap: 10px;
        & > input {
          font-family: 'Roboto', sans-serif;
          width: 100%;
          border: none;
          font-size: 18px;
          outline: none;
        }
      }
  
      & > input:focus {
        outline: none;
      }   
    }
  
    .share-right {
      display: flex;
      gap: 0.5rem;
      align-items: flex-start;
      margin: auto;
      .share-img{
        font-size: 30px;
        margin: auto;
      }
      .share-btn {
        color: white;
        padding: 4px 10px;
        background-color: #0d47a1;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        gap: 8px;
        & > span {
          font-family: "Oswald";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
        }
  
        cursor: pointer;
      }
  
      .share-img {
        color: #0d47a1;
        font-size: 24px;
        cursor: pointer;
      }
      :hover {
        color: red;
      }
    }
  }
  .share-bottom{
    background-color: white;
    margin: 10px auto;
    width: 100%;
    border-radius: 30px;
    .preview-container {
      width: 50%;
      margin: auto;
      .preview-img {
        padding: 10px 20px;
        width: 100%;
      }
    }
  }   
}


