.newfeed{
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
	font: normal;
	.newfeed-post{
		position: sticky;
		width: 100%;
		height: auto;
		left: 240px;
		top: 210px;
		margin-top: 20px;
		background: #FFFFFF;
		border-radius: 20px;
		border: solid red 1px;

		.newfeed-post-meta{
			width: 100%;
			height: auto;
			padding: 10px;
			display : flex;
			text-align: justify;
			&>img {
				height: 50px;
				width: 50px;
				border-radius: 50%;
			}
			.newfeed-post-meta-name{
				margin: 5px;
				width: max-content;
				.newfeed-post-meta-name-username{
					font-size: 25px;
					line-height: 22px;
					font-weight: 500;
				}
				.newfeed-post-meta-name-time{
					font-weight: 300;
					font-size: 18px;
					line-height: 22px;			
					color: rgba(0, 0, 0, 0.28);		
				}
			}
			&>Button{
				width: max-content;
				height: max-content;
				font-size: 30px;
				border-radius: 10%;
				border:	none;
				margin-left: 580px;
				background-color: #FFFFFF;
			}

		}
		.newfeed-post-text{
			font-size: 22px;
			margin-left: 5%;
		}
		.newfeed-post-img{
			text-align: center;
			&>img{
				width: 90%;
				border-radius: 10px;
				margin: 10px;			
			}	
		}
		.newfeed-post-interaction{
			margin-right: 5%;
			.newfeed-post-interaction-like{
				float: right;

				width: 30px;
				height: 30px;
				margin-left: 5%;
			}
			.newfeed-post-interaction-comment{
				float: right;

				width: 30px;
				height: 30px;
				margin-left: 5%;
			}
			.newfeed-post-interaction-share{
				float: right;

				width: 30px;
				height: 30px;
				margin-left: 5%;
			}
			
		}
		.newfeed-comment-list{
			margin-left: 5%;
			&>p{
				font-size: 15px;
			}
		}
	}
}
