a {
	text-decoration: none;
}
.dropbtn {
	background-color: white;
	color: black;
	padding: 16px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	&:hover {
		background-color: #2980B9;
	}
	&:focus {
		background-color: #2980B9;
	}
}
.post-menu-dropdow {
	position: relative;
	display: inline-block;
	a {
		&:hover {
			background-color: #ddd;
		}
	}
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
}
.show {
	display: block;
}
.user-post {
	padding: 15px;
	padding-top: 10px;
	border: 1px solid #000;
	margin-top: 20px;
	width: 700px;
	background-color: #fff;
	padding-bottom: 0;
	border-radius: 10px;
	.post-meta {
		.user-name {
			a {
				font-weight: 700;
			}
			span {
				color: #999;
			}
		}
	}
	.post-content {
		margin-top: 15px;
		.post-content-text {
			p {
				word-break: break-word;
				text-align: justify;
			}
		}
		.post-content-img {
			img {
				max-width: 100%;
				border: 1px solid #eae8e8;
				display: block;
				margin-bottom: 10px;
			}
		}
	}
}
.post-meta {
	img {
		width: 50px;
		display: inline;
	}
	.user-name {
		a {
			font-size: 20px;
		}
	}
	.post-time {
		span {
			font-size: 15px;
		}
	}
}
.post-menu {
	display: inline;
	float: right;
}
.user-name {
	display: inline;
}
.post-time {
	display: inline;
}
.post-content-text {
	font-size: 15px;
}
.like-comment-share {
	.post-comment {
		font-size: 20px;
		margin-right: 10px;
		width: auto;
		float: right;
		display: block;
	}
	.post-share {
		font-size: 20px;
		margin-right: 10px;
		width: auto;
		float: right;
		display: block;
	}
	.post-like {
		font-size: 20px;
		margin-right: 10px;
		width: auto;
	}
}
.comment-list-content-items {
	width: max-content;
	.comment-item {
		border: 1px solid #000;
		height: auto;
		width: max-content;
		padding: 5px;
		background-color: #fff;
		border-radius: 20px;
	}
	img {
		width: 30px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
	}
	.user-name {
		font-size: 20px;
        font-weight: bold;
	}
	.post-time {
		font-size: 15px;
	}
	.comment-content {
		font-size: 20px;
		margin-left: 10px;
	}
}
.comment-list-content {
	.post-like {
		margin-right: 10px;
		margin-top: 5px;
		width: auto;
		float: right;
		display: block;
	}
	.post-comment {
		margin-right: 10px;
		margin-top: 5px;
		width: auto;
		float: right;
		display: block;
	}
}
.comment-list-box {
	margin: 20px;
	input {
		border: 1px solid #000;
		padding: 15px;
		margin: 10px;
		width: 90%;
		background-color: #fff;
		border-radius: 20px;
	}
}
