.notifications{
    margin-top: 90px;    
    .notifications-title{
        min-width: 200px;
        width: 10%;
        box-shadow: 0px 1px 4px 0px #333e50;
        background-color: white;
        border-radius: 30px;
        margin: auto;
        & > h3{
            font-family: "Oswald", sans-serif;
            font-size: 25px;
            padding: 10px 10px;
            text-align: center;
        }
    }
    .notifications-list{
        box-shadow: 0px 1px 4px 0px #333e50;
        background-color: white;
        min-width: 500px;
        border-radius: 30px;
        width: 40%;
        margin: 30px auto;
        padding: 10px 0;
        .notifications-items{
            width: 90%;
            background-color: #eaeaea;
            border-radius: 30px;
            box-shadow: 0px 1px 4px 0px #333e50;
            margin: 20px auto;
            & > p {
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                padding: 20px 30px;
                text-align: left;
                .username{
                    text-transform: capitalize;
                    font-weight: 600;
                }
                :hover{
                    color: #0d47a1;
                }
            }
        }
        & > :hover{
            background-color: #dbd9d9;
            cursor: pointer;
        }
    }
}