.friend_request {
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 50px;
  background-color: white;
  // margin-right    : 20px;

  p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    // text-align   : center;
    padding-left: 10px;
    font-weight: bold;
  }

  .friends_request_tag {
    background-color: rgba(196, 196, 196, 0.47);
    width: 100%;
    height: 60px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 65px 200px;
    margin: auto;
    margin-bottom: 10px;

    .avt_friend_request {
      width: 50px;
      height: 50px;
      border-radius: 30px;
      margin-left: 5px;
      margin: auto;
    }

    .friend_request_tag_info {
      margin-left: 1px;
      display: grid;
      height: 60px;

      span {
        font-size: 18px;
        margin-top: 1px;
        margin-left: -10px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
      }

      .friend_request_tag_button {
        // font-size    : 29px;
        margin-bottom: 20px;

        .button_accept {
          width: 90px;
          height: 25px;
          border: none;
          border-radius: 10px;
          background-color: #0d47a1;
          color: white;
          margin-right: 10px;
          font-weight: bold;
        }

        .button_refuse {
          width: 90px;
          height: 25px;
          border: none;
          border-radius: 10px;
          background-color: #c4c4c4;
          font-weight: bold;
        }
      }
    }
  }

  .link {
    text-align: center;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: #0d47a1;
      }
    }
  }
}
