.friend_request {
  width           : 300px;
  border          : 1px solid black;
  border-radius   : 20px;
  align-items     : center;
  margin-bottom   : 50px;
  background-color: white;

  p {
    font-size       : 20px;
    margin-top      : 10px;
    margin-bottom   : 10px;
    // text-align   : center;
    padding-left    : 10px;
    font-weight     : bold;
  }

  .friends_request_tag {
    background-color     : rgb(207, 220, 223);
    width                : 290px;
    height               : 60px;
    border-radius        : 20px;
    display              : grid;
    grid-template-columns: 65px 200px;
    margin               : auto;
    margin-bottom        : 10px;

    .avt_friend_request {
      width        : 50px;
      height       : 50px;
      border-radius: 30px;
      border       : 0.5px solid black;
      margin-left  : 5px;
      margin       : auto;
    }

    .friend_request_tag_info {
      margin-left        : 1px;
      display            : grid;
      height             : 60px;
      // background-color: antiquewhite;

      span {
        font-size          : 18px;
        margin-top         : 1px;
        margin-left        : -10px;
        // background-color: antiquewhite;
        font-weight        : bold;
        text-align         : center;
        margin-bottom      : 5px;
      }

      .friend_request_tag_button {
        font-size          : 20px;
        margin-bottom      : 20px;
        // background-color: antiquewhite;

        .button_accept {
          width           : 90px;
          height          : 25px;
          border          : 0.5px solid black;
          border-radius   : 10px;
          background-color: blue;
          color           : white;
          margin-right    : 10px;
          font-weight     : bold;
        }

        .button_refuse {
          width           : 90px;
          height          : 25px;
          border          : 0.5px solid black;
          border-radius   : 10px;
          background-color: rgb(189, 152, 152);
          font-weight     : bold;
        }
      }
    }
  }

  .link {
    text-align: center;

    a {
      text-decoration: none;
      color          : black;

    }
  }
}