 .your_mess_content {
     display      : flex;
     height       : auto;
     width        : 100%;
     margin-bottom: 10px;
     right        : 10px;
     float        : left;
     min-width    : 300px;

     ._avt {
         width        : 50px;
         height       : 50px;
         object-fit   : cover;
         border-radius: 50%;
         border       : none;
         margin-right : 10px;

     }

     .your_mess {
        min-width       : 100px;
        max-width       : 75%;
        height          : max-content;
        float           : right;
        background-color: #eaeaea;
        word-wrap       : break-word;
        display         : grid;
        border-radius   : 7px;
        padding         : 5px;
        &>span {
            color         : black;
            font-size     : 17px;
            font-weight: 600;
            text-transform: capitalize;
            padding: 3px 0;
        }
         .your_mess_detail {
            width      : 100%;
            float      : right;
            width      : fit-content;
            min-width  : 50px;
            color      : black;
            font-family: 'Quicksand', sans-serif;
            font-size  : 17px;
            max-width: 400px;
            padding: 0 5px;    
         }
         &>p {
            font-family: 'Quicksand', sans-serif;
            font-weight: 500;
            color: #ffffff;
            font-size: 14px;
        }         
     }
 }

 @media all and(max-width: 800px) {
    .your_mess_content {
        .your_mess{
            .your_mess_detail {
                max-width: 250px;
            }
        }
    }
}