.comment-1 {
  width           : 100%;
  height          : max-content;
  border          : 1px solid #eaeaea;
  background-color: #eaeaea;
  word-wrap       : break-word;
  margin          : 12px 0;
  border-radius   : 10px;
  padding: 10px;
  .comment-tag {
    display: flex;

    .avatar {
      width : max-content;

      &>img {
        width        : 35px;
        height       : 35px;
        border-radius: 50%;
        object-fit   : cover;
      }
    }

    .comment-tag-username {
      width : max-content;
      margin: auto 0;
      padding-left: 8px;

      .username {
        text-transform: capitalize;
        font-size     : 16px;
        font-weight   : 700;
        font-family   : "Quicksand", sans-serif;
      }

      :hover {
        color: #0d47a1;
      }
    }

    .comment-tag-timepost {
      width : max-content;
      margin: auto 5px;

      &>p {
        font-family: 'Quicksand', sans-serif;
        font-size  : 15px;
        color      : #808080;
      }
    }
  }

  .comment-tag-message {
    max-width: 700px;
    padding  : 10px;
    &>p {
      font-size  : 16px;
      font-family: "Quicksand", sans-serif;
    }
  }

  .post-interaction-length {
    margin: 5px 0;
    &>p {
      font-size  : 14px;
      font-family: 'Quicksand', sans-serif;
    }
  }

  .post-interaction-2 {
    border-top     : 1px solid #7f9cc9;
    display: flex;
    margin-left: auto;
    width: 60%;
    padding-top: 5px;
    .post-interaction-heart-2 {
      font-size      : 15px;
      display        : flex;
      width          : 100%;
      justify-content: center;

      &>p {
        font-family: 'Quicksand', sans-serif;
      }
    }

    .post-interaction-comment-2 {
      font-size      : 15px;
      display        : flex;
      width          : 100%;
      justify-content: center;

      &>p {
        font-family: 'Quicksand', sans-serif;
      }
    }

    .post-interaction-report-2 {
      border-top     : 1px solid #7f9cc9;
      border-left    : 1px solid #7f9cc9;
      font-size      : 15px;
      display        : flex;
      width          : 100%;
      justify-content: center;

      &>p {
        padding    : 2px;
        font-family: 'Quicksand', sans-serif;
      }
    }

    :hover {
      cursor          : pointer;
    }
  }
}

.comment-2 {
  width           : 85%;
  height          : max-content;
  border          : 1px solid #eaeaea;
  background-color: #eaeaea;
  word-wrap       : break-word;
  margin          : 12px 0;
  margin-left: auto;
  border-radius   : 10px;
  padding: 10px;
  .comment-tag {
    display: flex;

    .avatar {
      width : max-content;

      &>img {
        width        : 35px;
        height       : 35px;
        border-radius: 50%;
        object-fit   : cover;
      }
    }

    .comment-tag-username {
      width : max-content;
      margin: auto 0;
      padding-left: 8px;

      .username {
        text-transform: capitalize;
        font-size     : 16px;
        font-weight   : 700;
        font-family   : "Quicksand", sans-serif;
      }

      :hover {
        color: #0d47a1;
      }
    }

    .comment-tag-timepost {
      width : max-content;
      margin: auto 5px;

      &>p {
        font-family: 'Quicksand', sans-serif;
        font-size  : 15px;
        color      : #808080;
      }
    }
  }

  .comment-tag-message {
    max-width: 700px;
    padding  : 10px;
    &>p {
      font-size  : 16px;
      font-family: "Quicksand", sans-serif;
      &>a{
        margin-right: 7px;
        &>span{
          font-size  : 16px;
          font-family: "Quicksand", sans-serif;
          font-weight: 600;
          text-transform: capitalize;
          :hover{
            color:#0d47a1;
          }
        }
      }
    }
  }

  .post-interaction-length {
    margin: 5px 0;
    &>p {
      font-size  : 14px;
      font-family: 'Quicksand', sans-serif;
    }
  }

  .post-interaction-3 {
    border-top     : 1px solid #7f9cc9;
    display: flex;
    margin-left: auto;
    width: 60%;
    padding-top: 5px;
    .post-interaction-heart-3 {
      font-size      : 15px;
      display        : flex;
      width          : 100%;
      justify-content: center;

      &>p {
        font-family: 'Quicksand', sans-serif;
      }
    }

    .post-interaction-comment-3 {
      font-size      : 15px;
      display        : flex;
      width          : 100%;
      justify-content: center;

      &>p {
        font-family: 'Quicksand', sans-serif;
      }
    }

    .post-interaction-report-3 {
      border-top     : 1px solid #7f9cc9;
      border-left    : 1px solid #7f9cc9;
      font-size      : 15px;
      display        : flex;
      width          : 100%;
      justify-content: center;

      &>p {
        padding    : 2px;
        font-family: 'Quicksand', sans-serif;
      }
    }

    :hover {
      cursor          : pointer;
    }
  }
}

.post-comment-bar-2 {
  margin   : 10px 20px;
  display  : flex;
  width    : 90%;
  max-width: 520px;

  .post-comment-bar-text-2 {
    background-color: #eaeaea;
    display         : flex;
    padding         : 0 12px;
    border-radius   : 30px;
    height          : 30px;
    width           : 100%;

    &>input {
      font-family: "Quicksand", sans-serif;
      flex            : 2;
      border          : none;
      font-size       : 14px;
      background-color: #eaeaea;
    }

    &>input:focus {
      outline: none;
    }
  }

  .post-comment-bar-btn-2 {
    height          : 30px;
    width           : max-content;
    color           : white;
    padding         : 4px 10px;
    background-color: #0d47a1;
    border-radius   : 5rem;
    display         : flex;
    align-items     : center;
    margin          : 0 20px;

    &>span {
      font-family: 'Quicksand', sans-serif;
      font-size  : 14px;
    }   
  }
  .post-comment-bar-btn-2:hover {
    cursor: pointer;
    background-color:#9eb0cc ;
    color: #0d47a1;
  }
}

.post-comment-bar-3 {
  margin   : 10px 60px;
  display  : flex;
  width    : 90%;
  max-width: 520px;

  .post-comment-bar-text-3 {
    background-color: #eaeaea;
    display         : flex;
    padding         : 0 12px;
    border-radius   : 30px;
    height          : 30px;
    width           : 100%;

    &>input {
      font-family: "Quicksand", sans-serif;
      flex            : 2;
      border          : none;
      font-size       : 14px;
      background-color: #eaeaea;
    }

    &>input:focus {
      outline: none;
    }
  }

  .post-comment-bar-btn-3 {
    height          : 30px;
    width           : max-content;
    color           : white;
    padding         : 4px 10px;
    background-color: #0d47a1;
    border-radius   : 5rem;
    display         : flex;
    align-items     : center;
    margin          : 0 20px;

    &>span {
      font-family: 'Quicksand', sans-serif;
      font-size  : 14px;
    }
  }
  .post-comment-bar-btn-3:hover {
    cursor: pointer;
    background-color:#9eb0cc ;
    color: #0d47a1;

  }
}