.friendsrequest_tag {
    background-color: #EEF0F5 !important;
    width           : 100%;
    height          : 70px;
    border-radius   : 10px;
    display         : flex;
    margin          : auto;
    align-items     : center;
    margin-bottom   : 25px;

    .avt_friend_request {
        width        : 55px;
        height       : 55px;
        border-radius: 50%;
        margin-left  : 10px;
        margin-right : 15px;
    }

    .userinfo {
        margin     : auto;
        margin-left: -1%;

        p {
            text-transform: capitalize;
            font-size     : 17px;
            font-weight   : bold;
            text-align    : left;
            margin        : auto;
            margin-left   : -1%;
        }

        span {
            //text-transform   : capitalize;
            font-size        : 17px;
            // font-weight   : bold;
            text-align       : left;
            margin           : auto;
            margin-left      : -1%;
        }
    }


    .friend_request_tag_button {
        display     : flex;
        margin-right: 10px;

        .button_accept {
            width           : 80px;
            height          : 25px;
            border          : none;
            border-radius   : 10px;
            background-color: #0d47a1 !important;
            color           : white;
            margin-right    : 5px;
            font-weight     : bold;
            font-size       : 13px;
        }

        .button_refuse {
            width           : 80px;
            height          : 25px;
            border          : none;
            border-radius   : 10px;
            background-color: #c4c4c4;
            font-weight     : bold;
            font-size       : 13px;
            margin-left     : 5px;

        }
    }
}

@media all and(max-width: 600px) {
    .friends_request_tag {
        background-color: #ffff;
        box-shadow      : 5px 5px 5px lightblue;
        border-radius   : 6px;
        height          : 60px;

        .avt_friend_request {
            width : 50px;
            height: 50px;

        }
    }
}