  .create_job {
      width            : 50%;
      min-width        : 400px;
      height           : auto;
      color            : #0D47A1;
      box-shadow       : 0px 2px 10px 0px #00000040;
      background-color : #fff;
      position         : fixed;
      top              : 50%;
      left             : 50%;
      -webkit-transform: translate(-50%, -50%);
      transform        : translate(-50%, -50%);
      border-radius    : 30px;
      display          : grid;
      z-index          : 1000;

      .exit {
          text-align: right;
          margin-top: 10px;
          width     : 100%;
          height    : 40px;
          position  : fixed;
          z-index   : 100;

          &>button {
              position        : flex;
              margin-right    : 20px;
              width           : 40px;
              height          : 40px;
              background-color: #0D47A1;
              border-radius   : 50%;
              color           : #fff;
              font-size       : 25px;
              border          : none;
              cursor          : pointer;
          }
      }

      .pic_cover {
          width                     : 100%;
          height                    : 240px;
          background-color          : #EEF0F5;
          border-top-left-radius    : 30px;
          border-top-right-radius   : 30px;
          text-align                : center;
          font-size                 : 170px;
          // cursor                 : pointer;
          color                     : #C4C4C4;

          &>img {
              width                  : 100%;
              height                 : 100%;
              object-fit             : cover;
              border-top-left-radius : 30px;
              border-top-right-radius: 30px;
          }
      }

      .choose_img {
          text-align: right;
          margin-top: 200px;
          width     : 100%;
          height    : 40px;
          position  : fixed;
          z-index   : 100;
      }

      .create_details {
          width     : 100%;
          height    : auto;
          min-height: 300px;
          text-align: center;
          margin    : auto;
          padding   : 20px;


          .time_job {
              width                : 100%;
              height               : 42px;
              display              : grid;
              grid-template-columns: 50% 50%;
              margin-bottom        : 12px;

              .starttime {
                  width           : 95%;
                  height          : 42px;
                  background-color: #EEF0F5;
                  display         : flex;
                  align-items     : center;
                  font-size       : 30px;
                  padding-right   : 10px;
                  border-radius   : 12px;
                  margin          : auto;



                  &>input {
                      font-family     : "oswald";
                      width           : 100%;
                      height          : 42px;
                      padding-left    : 10px;
                      border          : none;
                      background-color: transparent;
                      font-size       : 17px;
                  }

                  &>input:focus {
                      outline: none;
                  }
              }

              .day_number {
                  width        : 70%;
                  height       : 42px;
                  display      : flex;
                  align-items  : center;
                  font-size    : 20px;
                  padding-right: 10px;
                  border-radius: 12px;
                  margin       : left;



                  &>input {
                      font-family     : "oswald";
                      width           : 90%;
                      height          : 42px;
                      padding-left    : 10px;
                      border          : none;
                      background-color: #EEF0F5;
                      font-size       : 17px;
                      border-radius   : 12px;
                      margin-right    : 10px;
                  }

                  &>input:focus {
                      outline: none;
                  }
              }
          }

          .item_details {
              width           : 98%;
              height          : 42px;
              background-color: #EEF0F5;
              display         : flex;
              align-items     : center;
              margin          : auto;
              font-size       : 30px;
              padding-right   : 10px;
              border-radius   : 12px;
              margin-bottom   : 12px;


              &>input {
                  font-family     : "oswald";
                  width           : 100%;
                  height          : 42px;
                  padding-left    : 10px;
                  border          : none;
                  background-color: transparent;
                  font-size       : 17px;
              }

              &>input:focus {
                  outline: none;
              }
          }

          .item_contents {
              width             : 98%;
              margin            : auto;
              height            : 100px;
              background-color  : #EEF0F5;
              display           : flex;
              //align-items     : center;
              font-size         : 30px;
              padding-right     : 10px;
              border-radius     : 12px;
              margin-bottom     : 12px;


              &>textarea {
                  font-family     : "oswald";
                  width           : 100%;
                  height          : 100px;
                  padding-left    : 10px;
                  padding-right   : 10px;
                  border          : none;
                  background-color: transparent;
                  font-size       : 17px;
                  word-wrap       : break-word;
                  overflow-wrap   : break-word;
              }

              &>textarea:focus {
                  outline: none;
              }
          }

          .button_create {
              font-family  : "oswald";
              width        : 40%;
              height       : 50px;
              min-width    : 260px;
              margin       : auto;
              border-radius: 30px;

              &>button {
                  font-family     : "oswald";
                  width           : 100%;
                  height          : 45px;
                  margin          : auto;
                  background-color: #0D47A1;
                  color           : #fff;
                  font-size       : 22px;
                  cursor          : pointer;
                  border          : none;
                  border-radius   : 30px;

              }
          }
      }
  }