.docChart {
    width                : 100%;
    height               : max-content;
    padding              : 20px;
    display              : grid;
    grid-template-columns: 40% 60%;
    margin-top           : -20px;

    .charline {
        width     : 100%;
        height    : fit-content;
        margin-top: 5px;
    }

    .approve_container {
        padding           : 20px;
        width             : 98%;
        min-width         : 400px;
        height            : max-content;
        background-color  : #fff;
        box-shadow        : 0px 2px 10px rgba(0, 0, 0, 0.25);
        margin-right      : 20px;
        display           : grid;
        grid-template-rows: 60px 90%;
        border-radius     : 12px;
        margin-left       : 20px;


        .approve_header {
            width           : 95%;
            height          : 80px;
            background-color: rgb(62, 54, 99);
            display         : flex;
            align-items     : center;
            margin          : auto;
            margin-top      : -40px;
            padding-left    : 20px;
            color           : #ffff;
            font-size       : 22px;
            border-radius   : 12px;
            box-shadow      : 0px 5px 10px 0px rgb(62, 54, 99);
        }

        .approve_content {
            width                : 100%;
            height               : 425px;
            display              : grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows   : repeat(3, 1fr);
            gap                  : 15px;
            flex-wrap            : wrap;
            overflow-y           : auto;

            .document_tag {
                width        : 200px;
                height       : auto;
                border-radius: 12px;
                margin-left  : 15px;
                margin-bottom: 25px;
                box-shadow   : 0px 1px 5px 0px #333e50;

                .document_tag_cover {
                    width                  : 100%;
                    height                 : 150px;
                    object-fit             : cover;
                    border-top-left-radius : 12px;
                    border-top-right-radius: 12px;
                }

                &>p {
                    padding-left  : 10px;
                    padding-right : 10px;
                    height        : 30px;
                    font-size     : 18px;
                    font-family   : "oswald";
                    text-align    : center;
                    text-transform: uppercase;
                    font-weight   : bold;
                    cursor        : pointer;
                    text-overflow : ellipsis;
                    white-space   : nowrap;
                    overflow      : hidden;
                }

                .author {
                    width      : fit-content;
                    margin     : auto;
                    align-items: center;
                    display    : flex;
                    text-align : center;

                    &>b {
                        width      : fit-content;
                        font-size  : 18px;
                        font-family: "oswald";
                    }

                    &>span {
                        font-size     : 18px;
                        font-family   : "oswald";
                        text-align    : center;
                        text-transform: capitalize;
                        text-overflow : ellipsis;
                        white-space   : nowrap;
                        overflow      : hidden;
                        font-family   : "oswald";
                        padding-left  : 5px;
                    }
                }

                .button_approve_unapprove {
                    width        : 100%;
                    height       : 40px;
                    display      : flex;
                    margin-bottom: 10px;

                    .approve {
                        flex            : 1;
                        width           : 100px;
                        margin-left     : 10px;
                        margin-right    : 5px;
                        border-radius   : 10px;
                        border          : none;
                        background-color: #0D47A1;
                        color           : #fff;
                        font-family     : "oswald";
                        font-size       : 18px;
                        cursor          : pointer;
                    }

                    .unapprove {
                        flex            : 1;
                        margin-left     : 5px;
                        margin-right    : 10px;
                        border-radius   : 10px;
                        border          : none;
                        background-color: #C4C4C4;
                        font-family     : "oswald";
                        font-size       : 18px;
                        cursor          : pointer;
                    }
                }

            }
        }
    }

}

@media all and(max-width: 1000px) {
    .docChart {
        display: block;

        .approve_container {
            margin    : auto;
            margin-top: 50px;
            padding   : 0px;

            .approve_content {
                display              : grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows   : repeat(2, 1fr);
                gap                  : 5px;
                padding-top          : 5px;

                .document_tag {
                    width: 180px;
                }
            }
        }

    }
}